img {
  background-color: #000;
  background-size: cover;

  margin-top: 50px;
}

/* 
.bg-img2 {
  background-color: #000;
  background-size: cover;
  height: 700px;
  
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  height: 700px;
 
} */
